{% block sw_cms_element_scrollable_category_nav_config %}
<div class="sw-cms-el-config-extended-listing-sorting">

    {% block sw_cms_element_scrollable_category_nav_config_info %}
    <sw-alert variant="info">
        {{ $tc('sw-cms.elements.general.config.infoText.listingElement') }}
    </sw-alert>
    {% endblock %}
</div>
{% endblock %}
