{% block sw_cms_element_extended_listing_sorting_preview %}
	<div class="sw-cms-el-preview-extended-listing-sorting">
		<select class="sorting form-select" aria-label="Sortierung">
			<option value="topseller">Topseller</option>
			<option value="neue-zuerst">Neue zuerst</option>
			<option value="name-asc">Name A-Z</option>
			<option value="name-desc">Name Z-A</option>
			<option value="niedrigster-preis">Günstigster Preis</option>
			<option value="hochster-preis">Höchster Preis</option>
			<option value="bewertungen">Bewertungen</option>
		</select>
	</div>
{% endblock %}
